ChiaHui_YOLOv4
backup

CreamOfTehCrop_ScaledYOLO/data/obj-st
CreamOfTehCrop_ScaledYOLO/data/VOC2007
CreamOfTehCrop_ScaledYOLO/experiments/workspace
CreamOfTehCrop_ScaledYOLO/experiment_results
CreamOfTheCrop_ScaledYOLO/thetas_weights

CreamOfTehCrop_YOLOv5/data/obj-st
CreamOfTehCrop_YOLOv5/data/VOC2007
CreamOfTehCrop_YOLOv5/experiments/workspace
CreamOfTehCrop_YOLOv5/experiment_results

ScaledYOLOv4/data/coco
ScaledYOLOv4/data/obj-st
ScaledYOLOv4/data/VOC2007
ScaledYOLOv4/runs
ScaledYOLOv4/models/*.yaml
ScaledYOLOv4/models/_MY_OLD_RESULT

mish-cuda
mish-cuda_old
ScaledYOLOv4Old
yolov5